<h3>{{ course.title }}</h3>
at
<app-af-website-link [website]="course.link"></app-af-website-link>:
<ul>
  <li *ngFor="let module of course.modules">
    <div>
      <p class="module_code" *ngIf="module.module_code">
        {{ module.module_code }}
      </p>
      <p class="title" *ngIf="module.title && module.module_code">
        {{ module.title }}
      </p>
      <p class="module_code" *ngIf="module.title && !module.module_code">
        {{ module.title }}
      </p>
    </div>
    <app-af-website-link
      *ngIf="module.github"
      [website]="module.github"
    ></app-af-website-link>
    <app-af-website-link
      *ngIf="module.link"
      [website]="module.link"
    ></app-af-website-link>
    <p *ngIf="module.description">{{ module.description }}</p>
    <div class="grid">
      <ul>
        <p *ngIf="module.module_result">
          <u>Module Result:</u>
          <li>{{ module.module_result }}</li>
        </p>
      </ul>
      <ul>
        <p *ngIf="module.module_resources">
          <u>Resources:</u>
          <li *ngFor="let resource of module.module_resources">
            <app-af-resource [resource]="resource"></app-af-resource>
          </li>
        </p>
      </ul>
      <ul>
        <p *ngIf="module.assessments">
          <u>Projects:</u>
          <li *ngFor="let assessment of module.assessments">
            <app-af-show-more-show-less
              [text]="assessment.assessment_title"
              [content]="assessment.description"
            ></app-af-show-more-show-less>
          </li>
        </p>
      </ul>
      <ul>
        <p *ngIf="module.module_software">
          <u>Software:</u>
          <li *ngFor="let resource of module.module_software">
            <app-af-resource [resource]="resource"></app-af-resource>
          </li>
        </p>
      </ul>
    </div>
  </li>
</ul>
