<div class="panel">
  <h2>
    {{ course.title }}
  </h2>
  <h3 *ngIf="course.result">{{ course.result }}</h3>
  at
  <app-website-link [website]="course.link"></app-website-link>:
  <ul>
    <li *ngFor="let module of course.modules">
      <span
        ><h3 class="code">
          <span *ngIf="module.code">{{ module.code }}:</span
          ><span>&nbsp;{{ module.title }}</span>
        </h3>
      </span>
      <app-website-link
        *ngIf="module.github"
        [website]="module.github"
      ></app-website-link>
      <app-website-link
        *ngIf="module.link"
        [website]="module.link"
      ></app-website-link>
      <p *ngIf="module.description">{{ module.description }}</p>
      <div class="grid">
        <ul *ngIf="module.assessments">
          <h3>Projects:</h3>
          <li *ngFor="let assessment of module.assessments">
            <app-show-more-show-less [text]="assessment.title"
              ><span>{{ assessment.description }}</span>
              <ul *ngIf="assessment.score">
                <li>
                  <span>Score: {{ assessment.score }}</span>
                </li>
              </ul></app-show-more-show-less
            >
          </li>
        </ul>
        <ul *ngIf="module.resources">
          <h3>Resources:</h3>
          <li *ngFor="let resource of module.resources">
            <app-resource [resource]="resource"></app-resource>
          </li>
        </ul>
        <ul *ngIf="module.software">
          <h3>Software:</h3>
          <li *ngFor="let resource of module.software">
            <app-resource [resource]="resource"></app-resource>
          </li>
        </ul>
        <ul *ngIf="module.result">
          <h3>Module Result:</h3>
          <li>{{ module.result }}</li>
        </ul>
      </div>
    </li>
  </ul>
</div>
