body{
    max-width: 1024px;
    height: 100%;
    background-color: #ffffff;
    font-size: 20px;	
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin: auto; 
}

img, a{
    max-width: 99%;
    max-height: 99%;
    font-size: 99%;
    border-radius: 10px;
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
    vertical-align: middle;
}

div, li, p{
    margin: 30px;
}

img:hover, a:hover, a.active_link{
    max-width: 100%;
    max-height: 100%;
    font-size: 100%;
    text-decoration: underline;
}

div.navbar, a.navbar{    
    height: 50px;
    justify-content: space-around;
    margin: 15px;
    margin-bottom: 30px;
}

div.main_content{
    text-align: justify;
    text-justify: inter-word;
}

div.featured_projects{
    width: 40%;    
}

img.featured_projects, a.featured_projects{
    min-width: 98%;
    margin-top: 25px;
}

footer{
    margin-top: 100px;
    padding: 15px;
    max-width: 100%;
    background-color: #ff0000;    
    font-size: 60%;
    font-weight: bold;
}