:host {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  z-index: 999;
  border: 1px solid #ff0000;
  border-radius: 10px;
  a {
    padding: 15px;
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
    &:hover,
    &:active {
      // TODO: fix active not working
      text-decoration: underline;
    }
  }
}
