<h2>University Modules</h2>
<ul>
  <li>TM111 Introduction to Computing and Information Technology 1</li>
  <li>TM112 Introduction to Computing and Information Technology 2</li>
  <li>TM129 Technology in Practise</li>
  <li>MU123 Discovering Mathematics</li>
  <li>M250 Object Oriented Java Programming</li>
  <li>M269 Algorithms, Data Structures and Computability</li>
  <li>TM255 Communication and Information Technologies</li>
  <li>TT284 Web Technology</li>
  <li>TM351 Data Management and Anlysis</li>
  <li>TM354 Software Engineering</li>
  <li>TM358 Machine Learning and Artificial Intelligence</li>
  <li>TM470 Computing and IT Project</li>
</ul>
