<h2>University Modules</h2>
<ul>
  <h3>Computing and IT BSc</h3>
  at
  <a href="https://www.open.ac.uk/">The Open University</a
  >:
  <li *ngFor="let module of bsc_modules">
    <app-af-university-projects-capsule
      [module]="module"
    ></app-af-university-projects-capsule>
  </li>
</ul>
<h2>Courses</h2>
<ul>
  <h3>{{ ibat_modules[0].title }}</h3>
  at
  <a href="https://www.ibat.ie/courses/java-programming-diploma.html">IBAT</a
  >:
  <li *ngFor="let module of ibat_modules">
    <app-af-university-projects-capsule
      [module]="module"
    ></app-af-university-projects-capsule>
  </li>
</ul>
