<h2>afmaths</h2>
<a href="https://pypi.org/project/afmaths/#description">pip install afmath</a>
<p>
  A python math library that outputs formatted instructions on how to compute
  mathematical formulas and expressions. Wish I named it afmaf.
</p>
<h2>www.arturfoden.ie</h2>
<a href="https://github.com/Arturius771/__wwwarturfodenie-website">GitHub</a>
<p>
  Personal website, currently it is an Angular SPA (previously PHP MPA). Content
  changes according to current mood. Currently it is a portfolio website of
  sorts, but usually it is updated to implement something I find interesting.
</p>
<h2>Akamai Frontend</h2>
<p>
  Worked on this project during my internship. Frontend project for an Angular
  SPA SaaS product.
</p>
<h2>lment</h2>
<a href="https://github.com/Arturius771/LMent">GitHub</a>
<a href="http://lment.ie/">Website</a>
<p>WIP network analysis and logging project.</p>
<h2>PhasmoCrew Website</h2>
<a href="https://github.com/Arturius771/wwwphasmocreworg-website">GitHub</a
><a href="http://www.phasmocrew.org/#/home">Website</a>
<h2>More of my projects are on GitHub</h2>
<a class="featured_projects" href="https://github.com/Arturius771"
  ><img
    src="assets/GitHub_Logo.png"
    alt="Clickable image that links to GitHub" /></a
>.
