<h2>University Modules</h2>
<ul>
  Computing MSc at ???
  <li></li>
</ul>
<ul>
  Computing and IT BSc at
  <a href="https://www.open.ac.uk/">The Open University</a
  >:
  <li>TM111 Introduction to Computing and Information Technology 1</li>
  <li>TM112 Introduction to Computing and Information Technology 2</li>
  <li>TM129 Technology in Practise</li>
  <li>MU123 Discovering Mathematics</li>

  <li>TM354 Software Engineering</li>
  <li>TM358 Machine Learning and Artificial Intelligence</li>
  <li>TM470 Computing and IT Project</li>
</ul>

<h2>University Projects</h2>
<ul>
  Computing and IT BSc:
  <li>Book Library Manager (Java) M250 TMA01</li>
  <li>Rock Paper Scissors game (Java) M250 TMA02</li>
  <li>Dictionary HashMaps and HashSets (Java) M250 TMA02</li>
  <li>SIR Infection Rate model (Java) M250 TMA02</li>
  <li>Roller Coaster Manager (Java) M250 TM03</li>
  <li>Sailing Club and Boat Race Manager (Java) M250 TMA03</li>
  <li>
    Sequence data types, iterative algorithms, and algorithm complexity (Python)
    M269 TMA01
  </li>

  <li>
    Ethical and Legal Frameworks of IT, Biometric Authentication Systems report
    (written assignments) TM255 TMA03
  </li>
  <li>Quantum Cryptography Information Website (WordPress) TM255 EMA</li>
  <li>Museum landing page and report (HTML, CSS) TT284 TMA01</li>
  <li>
    Guesthouse CRUD web application and report (PHP, JavaScript, SQL, Regex,
    HTML, CSS) TT284 TMA02
  </li>
  <li>
    Gueshouse photo diary web application (JavaScript, HTML, CSS) TT284 TMA03
  </li>
  <li>
    Walking Club member website project (design, implementation, testing) (PHP,
    JavaScript, HTML, CSS) TT284 EMA
  </li>
</ul>
<h2>University Modules</h2>
<ul>
  Computing MSc at ???
  <li></li>
</ul>
<ul>
  Computing and IT BSc at
  <a href="https://www.open.ac.uk/">The Open University</a
  >:
  <li>TM111 Introduction to Computing and Information Technology 1</li>
  <li>TM112 Introduction to Computing and Information Technology 2</li>
  <li>TM129 Technology in Practise</li>
  <li>MU123 Discovering Mathematics</li>

  <li>TM354 Software Engineering</li>
  <li>TM358 Machine Learning and Artificial Intelligence</li>
  <li>TM470 Computing and IT Project</li>
</ul>

<h2>University Projects</h2>
<ul>
  Computing and IT BSc:
  <li>Book Library Manager (Java) M250 TMA01</li>
  <li>Rock Paper Scissors game (Java) M250 TMA02</li>
  <li>Dictionary HashMaps and HashSets (Java) M250 TMA02</li>
  <li>SIR Infection Rate model (Java) M250 TMA02</li>
  <li>Roller Coaster Manager (Java) M250 TM03</li>
  <li>Sailing Club and Boat Race Manager (Java) M250 TMA03</li>
  <li>
    Sequence data types, iterative algorithms, and algorithm complexity (Python)
    M269 TMA01
  </li>

  <li>
    Ethical and Legal Frameworks of IT, Biometric Authentication Systems report
    (written assignments) TM255 TMA03
  </li>
  <li>Quantum Cryptography Information Website (WordPress) TM255 EMA</li>
  <li>Museum landing page and report (HTML, CSS) TT284 TMA01</li>
  <li>
    Guesthouse CRUD web application and report (PHP, JavaScript, SQL, Regex,
    HTML, CSS) TT284 TMA02
  </li>
  <li>
    Gueshouse photo diary web application (JavaScript, HTML, CSS) TT284 TMA03
  </li>
  <li>
    Walking Club member website project (design, implementation, testing) (PHP,
    JavaScript, HTML, CSS) TT284 EMA
  </li>
</ul>

<h2>University Modules</h2>
<ul>
  Computing MSc at ???
  <li></li>
</ul>
<ul>
  Computing and IT BSc at
  <a href="https://www.open.ac.uk/">The Open University</a
  >:
  <li>TM111 Introduction to Computing and Information Technology 1</li>
  <li>TM112 Introduction to Computing and Information Technology 2</li>
  <li>TM129 Technology in Practise</li>
  <li>MU123 Discovering Mathematics</li>

  <li>TM354 Software Engineering</li>
  <li>TM358 Machine Learning and Artificial Intelligence</li>
  <li>TM470 Computing and IT Project</li>
</ul>

<h2>University Projects</h2>
<ul>
  Computing and IT BSc:
  <li>Book Library Manager (Java) M250 TMA01</li>
  <li>Rock Paper Scissors game (Java) M250 TMA02</li>
  <li>Dictionary HashMaps and HashSets (Java) M250 TMA02</li>
  <li>SIR Infection Rate model (Java) M250 TMA02</li>
  <li>Roller Coaster Manager (Java) M250 TM03</li>
  <li>Sailing Club and Boat Race Manager (Java) M250 TMA03</li>
  <li>
    Sequence data types, iterative algorithms, and algorithm complexity (Python)
    M269 TMA01
  </li>

  <li>
    Ethical and Legal Frameworks of IT, Biometric Authentication Systems report
    (written assignments) TM255 TMA03
  </li>
  <li>Quantum Cryptography Information Website (WordPress) TM255 EMA</li>
  <li>Museum landing page and report (HTML, CSS) TT284 TMA01</li>
  <li>
    Guesthouse CRUD web application and report (PHP, JavaScript, SQL, Regex,
    HTML, CSS) TT284 TMA02
  </li>
  <li>
    Gueshouse photo diary web application (JavaScript, HTML, CSS) TT284 TMA03
  </li>
  <li>
    Walking Club member website project (design, implementation, testing) (PHP,
    JavaScript, HTML, CSS) TT284 EMA
  </li>
</ul>

<h2>University Modules</h2>
<ul>
  Computing MSc at ???
  <li></li>
</ul>
<ul>
  Computing and IT BSc at
  <a href="https://www.open.ac.uk/">The Open University</a
  >:
  <li>TM111 Introduction to Computing and Information Technology 1</li>
  <li>TM112 Introduction to Computing and Information Technology 2</li>
  <li>TM129 Technology in Practise</li>
  <li>MU123 Discovering Mathematics</li>

  <li>TM354 Software Engineering</li>
  <li>TM358 Machine Learning and Artificial Intelligence</li>
  <li>TM470 Computing and IT Project</li>
</ul>

<h2>University Projects</h2>
<ul>
  Computing and IT BSc:
  <li>Book Library Manager (Java) M250 TMA01</li>
  <li>Rock Paper Scissors game (Java) M250 TMA02</li>
  <li>Dictionary HashMaps and HashSets (Java) M250 TMA02</li>
  <li>SIR Infection Rate model (Java) M250 TMA02</li>
  <li>Roller Coaster Manager (Java) M250 TM03</li>
  <li>Sailing Club and Boat Race Manager (Java) M250 TMA03</li>
  <li>
    Sequence data types, iterative algorithms, and algorithm complexity (Python)
    M269 TMA01
  </li>

  <li>
    Ethical and Legal Frameworks of IT, Biometric Authentication Systems report
    (written assignments) TM255 TMA03
  </li>
  <li>Quantum Cryptography Information Website (WordPress) TM255 EMA</li>
  <li>Museum landing page and report (HTML, CSS) TT284 TMA01</li>
  <li>
    Guesthouse CRUD web application and report (PHP, JavaScript, SQL, Regex,
    HTML, CSS) TT284 TMA02
  </li>
  <li>
    Gueshouse photo diary web application (JavaScript, HTML, CSS) TT284 TMA03
  </li>
  <li>
    Walking Club member website project (design, implementation, testing) (PHP,
    JavaScript, HTML, CSS) TT284 EMA
  </li>
</ul>

<h2>University Modules</h2>
<ul>
  Computing MSc at ???
  <li></li>
</ul>
<ul>
  Computing and IT BSc at
  <a href="https://www.open.ac.uk/">The Open University</a
  >:
  <li>TM111 Introduction to Computing and Information Technology 1</li>
  <li>TM112 Introduction to Computing and Information Technology 2</li>
  <li>TM129 Technology in Practise</li>
  <li>MU123 Discovering Mathematics</li>

  <li>TM354 Software Engineering</li>
  <li>TM358 Machine Learning and Artificial Intelligence</li>
  <li>TM470 Computing and IT Project</li>
</ul>

<h2>University Projects</h2>
<ul>
  Computing and IT BSc:
  <li>Book Library Manager (Java) M250 TMA01</li>
  <li>Rock Paper Scissors game (Java) M250 TMA02</li>
  <li>Dictionary HashMaps and HashSets (Java) M250 TMA02</li>
  <li>SIR Infection Rate model (Java) M250 TMA02</li>
  <li>Roller Coaster Manager (Java) M250 TM03</li>
  <li>Sailing Club and Boat Race Manager (Java) M250 TMA03</li>
  <li>
    Sequence data types, iterative algorithms, and algorithm complexity (Python)
    M269 TMA01
  </li>

  <li>
    Ethical and Legal Frameworks of IT, Biometric Authentication Systems report
    (written assignments) TM255 TMA03
  </li>
  <li>Quantum Cryptography Information Website (WordPress) TM255 EMA</li>
  <li>Museum landing page and report (HTML, CSS) TT284 TMA01</li>
  <li>
    Guesthouse CRUD web application and report (PHP, JavaScript, SQL, Regex,
    HTML, CSS) TT284 TMA02
  </li>
  <li>
    Gueshouse photo diary web application (JavaScript, HTML, CSS) TT284 TMA03
  </li>
  <li>
    Walking Club member website project (design, implementation, testing) (PHP,
    JavaScript, HTML, CSS) TT284 EMA
  </li>
</ul>
