<app-af-project-capsule
  title="afmaths"
  url="https://pypi.org/project/afmaths/#description"
  website_name="pip install afmath"
  description="A python math library that outputs formatted instructions on how to compute
  mathematical formulas and expressions. Wish I named it afmaf."
></app-af-project-capsule>
<app-af-project-capsule
  title="ArturFoden.ie"
  github="https://github.com/Arturius771/__wwwarturfodenie-website"
  description="Personal website, currently it is an Angular SPA (previously PHP MPA). Content
changes according to current mood. Currently it is a portfolio website of
sorts, but usually it is updated to implement something I find interesting."
></app-af-project-capsule>
<app-af-project-capsule
  title="Akamai Frontend"
  description="Worked on this project during my internship. Frontend project for an Angular
SPA SaaS product."
></app-af-project-capsule>
<app-af-project-capsule
  title="Volt Website"
  url="https://www.volteuropa.org/"
></app-af-project-capsule>
<app-af-project-capsule
  title="LMent"
  github="https://github.com/Arturius771/LMent"
  url="http://lment.ie/"
  description="WIP network analysis and logging project. Pronounced element."
></app-af-project-capsule>
<app-af-project-capsule
  title="PhasmoCrew Website"
  github="https://github.com/Arturius771/wwwphasmocreworg-website"
  url="http://www.phasmocrew.org/#/home"
></app-af-project-capsule>
<h3>More of my projects are on GitHub</h3>
<a class="featured_projects" href="https://github.com/Arturius771"
  ><img
    src="assets/GitHub_Logo.png"
    alt="Clickable image that links to GitHub" /></a
>.
