<h1>Projects</h1>
<app-project-capsule [project]="maths"></app-project-capsule>
<app-project-capsule [project]="arturfodenie"></app-project-capsule>
<app-project-capsule [project]="akamai"></app-project-capsule>
<app-project-capsule [project]="volt"></app-project-capsule>
<app-project-capsule [project]="phasmocrew"></app-project-capsule>
<h3>More of my projects are on GitHub</h3>
<a class="featured_projects" href="https://github.com/Arturius771"
  ><img
    src="assets/GitHub_Logo.png"
    alt="Clickable image that links to GitHub" /></a
>.
