<div>
  <p class="module_code" *ngIf="module_code">{{ module_code }}</p>
  <p class="title" *ngIf="title">{{ title }}</p>
</div>
<a *ngIf="github" href="{{ github }}">GitHub</a>
<a *ngIf="website_address" href="{{ website_address }}">{{ website_name }}</a>
<div class="grid">
  <ul class="grid_item" *ngIf="module_result">
    <p>
      <u>Module Result:</u>
      <li>{{ module_result }}</li>
    </p>
  </ul>
  <ul class="grid_item" *ngIf="resource_material">
    <p>
      <label *ngIf="resource_material"><u>Resources:</u></label>
      <li *ngFor="let resource of resource_material">
        {{ resource.author }}
        <label *ngIf="resource.year">({{ resource.year }}) </label>
        <label *ngIf="resource.article_title">
          '{{ resource.article_title }}'
        </label>
        <i *ngIf="resource.url"
          ><a href="{{ resource.url }}">{{ resource.title }}</a></i
        ><i *ngIf="!resource.url">{{ resource.title }}</i>
        <label *ngIf="resource.edition"> ed. {{ resource.edition }} </label>
      </li>
    </p>
  </ul>
</div>
<ul class="grid_item" *ngIf="assessments">
  <p>
    <label *ngIf="assessments"><u>Projects:</u></label>
    <li *ngFor="let assessment of assessments">
      <app-af-toggle-button
        [title]="assessment.code"
        [content]="assessment.description"
      ></app-af-toggle-button>
    </li>
  </p>
</ul>
<p *ngIf="description">{{ description }}</p>
